*
  margin 0px
  padding 0px
  border 0px solid black

body
  font-family 'Quicksand', sans-serif
  font-weight 500
  font-size 18px
  background-color #efefef

.flex
  display flex
  justify-content center
  align-items center

.intro-screen
  flex-direction column
  width 100%
  padding-bottom 50px
  h2
    font-weight 400
    padding 50px 10px 40px 10px
  .reqests
    flex-direction column
    width 100%
    .req
      width 100%
      max-width 700px
      box-sizing border-box
      padding 4px 10px
      .container
        border-radius 10px
        background-color white
        overflow hidden
        box-shadow 0px 6px 40px -10px rgba(0,0,0,0.2)
        padding 10px 20px
        will-change transform
        transition transform .2s
        transform scale(1,1)
        cursor pointer
        &:hover
          transform scale(1.02,1.02)
        .row
          justify-content flex-start
          flex-direction row
          flex-wrap nowrap
          .logoAndName
            display flex
          img
            max-height 22px
            max-width 22px
            min-height 22px
            min-width 22px
            margin-right 5px
          .tag 
            min-width 90px
            div
              border-radius 4px
              padding 1px 4px
              text-align center
              font-size: 15px
              background-color #eee
              display inline-block
              font-weight 600
            .green
              background-color #b8ffe5
            .red
              background-color #ffd0c6
          .url 
            font-size: 17px
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
        .row1
          padding-bottom 4px
          justify-content space-between

.popupWrapper
  position fixed
  top 0px
  left 0px
  height 100vh
  width 100vw
  box-sizing border-box
  padding 40px
  background-color rgba(255,255,255,0.6)
  z-index 3
  .popup
    border-radius 20px
    overflow hidden
    background-color white
    width 100%
    height 100%
    box-shadow 0px 5px 45px -17px rgba(0,0,0,0.4)
    .header
      .row
        display flex
        flex-direction row
        flex-wrap nowrap
        align-items center
        justify-content flex-start
        .close
          cursor pointer
          top 2px
          position relative
          padding-right 5px
        img 
          height 40px
        .tag
          margin-left 10px
          div
            border-radius 4px
            padding 1px 4px
            text-align center
            font-size 15px
            background-color #eee
            display inline-block
            font-weight 600
          .green
            background-color #b8ffe5
          .red
            background-color #ffd0c6
      .row1
        padding 10px
      .row2
        border-bottom 1px solid #ccc
        margin-bottom 2px
        padding 6px
        div
          background-color white
          cursor pointer
          padding 0px 10px
          margin-right 3px
          border 3px solid #a9fce4
          border-radius 20px
          font-size 17px
        .active
          background-color #cdfef0
    .page
      padding 10px
      height calc(100% - 110px)
      overflow-y scroll
      overflow-x hidden
      h3
        padding: 5px 0px
      .tip
        font-size 15px
        padding-bottom 5px
        font-style italic
        color #0ca09c
      .info, .headerItem
        padding-bottom 3px 
        .item1
          color rgb(110, 110, 110)
          &::after
            content ': '
        .item2 {}
      pre
        background-color #efefef
        overflow-x scroll
        font-size 17px

.no_reqs
  margin 10px
  padding 10px
  background-color white
  text-align center
  border-radius 10px
  box-shadow 0px 6px 40px -10px rgba(0,0,0,0.2)
  h2
    padding 0px 0px 5px 0px
    margin 0px
    font-weight 600
    color #02cd69
  p
    padding-bottom 5px
